<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Chef Brown Bag</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css" media="all">
      .main {
        margin-top: 40px;
      } 
      th, td {
        padding-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="main container">
      <p>Brown Bag Nodes:</p>
      <table>
        <tr>
          <th>Node Name</th>
          <th>Node Roles</th>
        </tr>
        <tr>
           <td>Foo</td>
           <td>Bar</td>
        </tr>
      </table>
    </div>
  </body>
</html>
